p.meta {
  margin-top: 1rem;
  font-size: $font-size-base;
  font-family: $font-family-monospace;
  color: $gray-dark;
}

@include media-breakpoint-down(sm) {
  p.meta {
    font-size: $font-size-base * 0.9375;
  }
}

p.meta a {
  color: $gray-dark;
}

p.meta a:hover,
p.meta a:focus {
  color: $primary;
}

h1.logo_text {
  margin: 0;
  padding: 0 0 0 15px;
  text-transform: uppercase;
  letter-spacing: .062rem;
}

h1.logo_text a {
  text-decoration: none;
  color: #fe4300;
}

// PRIMARY NAVIGATION
.nav__main_nav {
  display: flex;
  justify-content: space-between;
}
.nav__main_nav nav ul {
  list-style-type: none;
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.nav__main_nav nav li {
  padding: 1rem;
}
.nav__main_nav nav li:hover {
  border-bottom: #ff7d4d;
}

.nav__main_nav nav a {
  color: #fe4300;
  text-decoration: dotted;
}

// JUMBOTRON
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:700&display=swap');

/* JUMBOTRON */
.jumbotron {
  letter-spacing: 0.062rem;
  background: #272822;
  height: 700px;
  // margin: -106px;
}
.jumbotron.pseudo--::before {
  content: '';
  right: 0;
  background: url(/images/network-map.svg) left bottom no-repeat;
  background-size: cover;
  z-index: 3;
  width: 100%;
  height: 700px;
  position: absolute;
  opacity: 0.2;
}

.screen-reader-text {
  margin: 0;
}

/* .jumbotron h1 {
  position: relative;
  margin-top: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-bottom: 30px;
  z-index: 1;
  font-size: 8em;
  font-family: 'Crimson Pro';
  text-transform: uppercase;
  color: #52d9da;
  text-shadow: -1px -1px 0 #2f3e9c, 1px -1px 0 #2f3e9c, -1px 1px 0 #2f3e9c, 1px 1px 0 #2f3e9c, 1px 0px 0px #f98ca4, 0px 1px 0px #ec8cf9, 2px 1px 0px #ec8cf9, 1px 2px 0px #ec8cf9, 3px 2px 0px #ec8cf9, 2px 3px 0px #f98ca4, 4px 3px 0px #ec8cf9, 3px 4px 0px #ec8cf9, 5px 4px 0px #ec8cf9, 3px 5px 0px #2f3e9c, 6px 5px 0px #2f3e9c, -1px 2px 0 black, 0 3px 0 #2f3e9c, 1px 4px 0 #2f3e9c, 2px 5px 0px #2f3e9c, 2px -1px 0 #2f3e9c, 3px 0 0 #2f3e9c, 4px 1px 0 #2f3e9c, 5px 2px 0px #2f3e9c, 6px 3px 0 #2f3e9c, 7px 4px 0 #2f3e9c, 10px 10px 4px rgba(255, 186, 74, 0.8);
  opacity: 0.8;
} */
.jumbotron h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-right: 20px;
  position: sticky;
  text-align: right;
  top: 50vh;
  font-size: 12vw;
  font-family: 'Nanum Gothic Coding', monospace;
  color: #52d9da;
  background-color: #ff7d4d;
  text-shadow: -1px -1px 0 #2f3e9c;
  z-index: 1;
  opacity: 0.8;
}

/* Animated Text Editor */
.cont {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: inherit;
  /* background: #fafafa; */
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
svg:not(:root) {
  overflow: inherit;
  overflow-x: inherit;
  overflow-y: inherit;
}
svg rect.black-box {
  margin: 70px;
}
svg text.text-wroc {
  font-family: 'Nanum Gothic Coding', monospace;
}
.svg-page-wroc {
  font-size: 3em;
}

svg {
  width: 100%;
}

.size {
  -moz-animation: animate-bg 0.5s ease-in forwards;
  -webkit-animation: animate-bg 0.5s ease-in forwards;
  animation: animate-bg 0.5s ease-in forwards;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.text-el {
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.text-wroc {
  font-size:1.5em;
  font-family: 'Crimson Pro';
}

.text-el:nth-child(1) {
  -moz-animation: animate-txt 0.25s 0.1s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.1s linear forwards;
  animation: animate-txt 0.25s 0.1s linear forwards;
}

.text-el:nth-child(2) {
  -moz-animation: animate-txt 0.25s 0.2s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.2s linear forwards;
  animation: animate-txt 0.25s 0.2s linear forwards;
}

.text-el:nth-child(3) {
  -moz-animation: animate-txt 0.25s 0.3s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.3s linear forwards;
  animation: animate-txt 0.25s 0.3s linear forwards;
}

.text-el:nth-child(4) {
  -moz-animation: animate-txt 0.25s 0.4s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.4s linear forwards;
  animation: animate-txt 0.25s 0.4s linear forwards;
}

.text-el:nth-child(5) {
  -moz-animation: animate-txt 0.25s 0.5s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.5s linear forwards;
  animation: animate-txt 0.25s 0.5s linear forwards;
}

.text-el:nth-child(6) {
  -moz-animation: animate-txt 0.25s 0.6s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.6s linear forwards;
  animation: animate-txt 0.25s 0.6s linear forwards;
}

.text-el:nth-child(7) {
  -moz-animation: animate-txt 0.25s 0.7s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.7s linear forwards;
  animation: animate-txt 0.25s 0.7s linear forwards;
}

.text-el:nth-child(8) {
  -moz-animation: animate-txt 0.25s 0.8s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.8s linear forwards;
  animation: animate-txt 0.25s 0.8s linear forwards;
}

.text-el:nth-child(9) {
  -moz-animation: animate-txt 0.25s 0.9s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.9s linear forwards;
  animation: animate-txt 0.25s 0.9s linear forwards;
}

.text-el:nth-child(10) {
  -moz-animation: animate-txt 0.25s 1s linear forwards;
  -webkit-animation: animate-txt 0.25s 1s linear forwards;
  animation: animate-txt 0.25s 1s linear forwards;
}

.text-el:nth-child(11) {
  -moz-animation: animate-txt 0.25s 1.1s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.1s linear forwards;
  animation: animate-txt 0.25s 1.1s linear forwards;
}

.text-el:nth-child(12) {
  -moz-animation: animate-txt 0.25s 1.2s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.2s linear forwards;
  animation: animate-txt 0.25s 1.2s linear forwards;
}

.text-el:nth-child(13) {
  -moz-animation: animate-txt 0.25s 1.3s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.3s linear forwards;
  animation: animate-txt 0.25s 1.3s linear forwards;
}

.text-el:nth-child(14) {
  -moz-animation: animate-txt 0.25s 1.4s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.4s linear forwards;
  animation: animate-txt 0.25s 1.4s linear forwards;
}

.text-el:nth-child(15) {
  -moz-animation: animate-txt 0.25s 1.5s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.5s linear forwards;
  animation: animate-txt 0.25s 1.5s linear forwards;
}

.text-el:nth-child(16) {
  -moz-animation: animate-txt 0.25s 1.6s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.6s linear forwards;
  animation: animate-txt 0.25s 1.6s linear forwards;
}

.text-el:nth-child(17) {
  -moz-animation: animate-txt 0.25s 1.7s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.7s linear forwards;
  animation: animate-txt 0.25s 1.7s linear forwards;
}

.text-el:nth-child(18) {
  -moz-animation: animate-txt 0.25s 1.8s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.8s linear forwards;
  animation: animate-txt 0.25s 1.8s linear forwards;
}

.text-el:nth-child(19) {
  -moz-animation: animate-txt 0.25s 1.9s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.9s linear forwards;
  animation: animate-txt 0.25s 1.9s linear forwards;
}

.text-el:nth-child(20) {
  -moz-animation: animate-txt 0.25s 2s linear forwards;
  -webkit-animation: animate-txt 0.25s 2s linear forwards;
  animation: animate-txt 0.25s 2s linear forwards;
}

.text-el:nth-child(21) {
  -moz-animation: animate-txt 0.25s 2.1s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.1s linear forwards;
  animation: animate-txt 0.25s 2.1s linear forwards;
}

.text-el:nth-child(22) {
  -moz-animation: animate-txt 0.25s 2.2s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.2s linear forwards;
  animation: animate-txt 0.25s 2.2s linear forwards;
}

.text-el:nth-child(23) {
  -moz-animation: animate-txt 0.25s 2.3s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.3s linear forwards;
  animation: animate-txt 0.25s 2.3s linear forwards;
}

.text-el:nth-child(24) {
  -moz-animation: animate-txt 0.25s 2.4s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.4s linear forwards;
  animation: animate-txt 0.25s 2.4s linear forwards;
}

.text-el:nth-child(25) {
  -moz-animation: animate-txt 0.25s 2.5s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.5s linear forwards;
  animation: animate-txt 0.25s 2.5s linear forwards;
}

.text-el:nth-child(26) {
  -moz-animation: animate-txt 0.25s 2.6s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.6s linear forwards;
  animation: animate-txt 0.25s 2.6s linear forwards;
}

.text-el:nth-child(27) {
  -moz-animation: animate-txt 0.25s 2.7s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.7s linear forwards;
  animation: animate-txt 0.25s 2.7s linear forwards;
}

.text-el:nth-child(28) {
  -moz-animation: animate-txt 0.25s 2.8s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.8s linear forwards;
  animation: animate-txt 0.25s 2.8s linear forwards;
}

.text-el:nth-child(29) {
  -moz-animation: animate-txt 0.25s 2.9s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.9s linear forwards;
  animation: animate-txt 0.25s 2.9s linear forwards;
}

.text-el:nth-child(30) {
  -moz-animation: animate-txt 0.25s 3s linear forwards;
  -webkit-animation: animate-txt 0.25s 3s linear forwards;
  animation: animate-txt 0.25s 3s linear forwards;
}

.text-el:nth-child(31) {
  -moz-animation: animate-txt 0.25s 3.1s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.1s linear forwards;
  animation: animate-txt 0.25s 3.1s linear forwards;
}

.text-el:nth-child(32) {
  -moz-animation: animate-txt 0.25s 3.2s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.2s linear forwards;
  animation: animate-txt 0.25s 3.2s linear forwards;
}

.text-el:nth-child(33) {
  -moz-animation: animate-txt 0.25s 3.3s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.3s linear forwards;
  animation: animate-txt 0.25s 3.3s linear forwards;
}

.text-el:nth-child(34) {
  -moz-animation: animate-txt 0.25s 3.4s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.4s linear forwards;
  animation: animate-txt 0.25s 3.4s linear forwards;
}

.text-el:nth-child(35) {
  -moz-animation: animate-txt 0.25s 3.5s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.5s linear forwards;
  animation: animate-txt 0.25s 3.5s linear forwards;
}

.text-el:nth-child(36) {
  -moz-animation: animate-txt 0.25s 3.6s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.6s linear forwards;
  animation: animate-txt 0.25s 3.6s linear forwards;
}

.text-el:nth-child(37) {
  -moz-animation: animate-txt 0.25s 3.7s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.7s linear forwards;
  animation: animate-txt 0.25s 3.7s linear forwards;
}

.text-el:nth-child(38) {
  -moz-animation: animate-txt 0.25s 3.8s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.8s linear forwards;
  animation: animate-txt 0.25s 3.8s linear forwards;
}

.text-el:nth-child(39) {
  -moz-animation: animate-txt 0.25s 3.9s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.9s linear forwards;
  animation: animate-txt 0.25s 3.9s linear forwards;
}

@-moz-keyframes animate-bg {
  0% {
    -moz-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes animate-bg {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes animate-bg {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes animate-txt {
  0% {
    -moz-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -moz-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-webkit-keyframes animate-txt {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes animate-txt {
  0% {
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-moz-keyframes animate-svg {
  100% {
    -moz-box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.5);
    /*@include transform(translate(50%, 50%)); */
  }
}
@-webkit-keyframes animate-svg {
  100% {
    -webkit-box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.5);
    /*@include transform(translate(50%, 50%)); */
  }
}
@keyframes animate-svg {
  100% {
    -moz-box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.5);
    /*@include transform(translate(50%, 50%)); */
  }
}

// BIBLIOGRAPHY PAGE
ul.cite {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
ul.cite li {
  margin-left: 0.5in;
  text-indent: -0.5in;
  margin-bottom: 25px;
}
ul.cite li a:hover {
  text-decoration: none;
}
p.bib-tags {
  margin: 0 0 0 0.5in;
  font-size: 0.8em;
}
p.bib-tags a {
  text-decoration: none;
}
@media screen and (max-width:579px) {
  .citation-container {
    padding: 0.1em;
  }
  ul.cite {
    padding: 0.2em;
  }
  ul.cite li {
    margin-left: 0.25em;
    text-indent: -0.5em;
  }
  li p.bib-tags {
    margin-left: 0.25em;
  }
}
// PROJECTS
.card_container { padding: 2em; }
.card_container--wroc-project,
.card_container--wroc-meeting {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding: 1em;
}
.card--wroc-project,
.card--wroc-meeting {
  background: #fb1e6f2b;
  padding: 15px;
}
.card_container--wroc-project {
  list-style: none;
}
.card--wroc-project div.img {
  margin: auto auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
  height: 250px;
}
@media screen and (max-width: 435px) {
  .card--wroc-project div.img {
    margin: auto auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 225px;
    height: 175px;
  }
  .card_container {padding:0;}
  .card_container--wroc-project {padding:0;}
}
.card--wroc-project div.img img {
  display: block;
  width: 100%;
  height: inherit;
}
.card--wroc-project h3 {
  font-size: 1em;
}
.card--wroc-project p {
  font-size: 0.85em;
}
.proj-tags {
  font-size: 0.5em;
  margin-top: 10px;
  margin-bottom: 0;
}