.citation-container {
  padding: 2em;
}
ul.cite {
  padding: 1em;
}
ul.cite li {
  margin-left: 0.5in;
  text-indent: -0.5in;
  margin-bottom: 25px;
}
ul.cite li a:hover {
  text-decoration: none;
}
p.bib-tags {
  margin-left: 0.5in;
  margin-bottom: 0;
  font-size: 0.8em;
}
p.bib-tags a {
  text-decoration: none;
  margin: 0 1em;
}
@media screen and (max-width:579px) {
  .citation-container {
    padding: 0.1em;
  }
  ul.cite {
    padding: 0.2em;
  }
  ul.cite li {
    margin-left: 0.25em;
    text-indent: -0.5em;
  }
  li p.bib-tags {
    margin-left: 0.25em;
  }
}