@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:700&display=swap');

/* JUMBOTRON */
.jumbotron {
  letter-spacing: 0.062rem;
  background: #272822;
  height: 700px;
  margin: -106px;
}
.jumbotron.pseudo--::before {
  content: '';
  right: 0;
  background: url(/images/network-map.svg) left bottom no-repeat;
  background-size: cover;
  z-index: 3;
  width: 100%;
  height: 620px;
  position: absolute;
  opacity: 0.2;
}

/* .jumbotron h1 {
  position: relative;
  margin-top: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-bottom: 30px;
  z-index: 1;
  font-size: 8em;
  font-family: 'Crimson Pro';
  text-transform: uppercase;
  color: #52d9da;
  text-shadow: -1px -1px 0 #2f3e9c, 1px -1px 0 #2f3e9c, -1px 1px 0 #2f3e9c, 1px 1px 0 #2f3e9c, 1px 0px 0px #f98ca4, 0px 1px 0px #ec8cf9, 2px 1px 0px #ec8cf9, 1px 2px 0px #ec8cf9, 3px 2px 0px #ec8cf9, 2px 3px 0px #f98ca4, 4px 3px 0px #ec8cf9, 3px 4px 0px #ec8cf9, 5px 4px 0px #ec8cf9, 3px 5px 0px #2f3e9c, 6px 5px 0px #2f3e9c, -1px 2px 0 black, 0 3px 0 #2f3e9c, 1px 4px 0 #2f3e9c, 2px 5px 0px #2f3e9c, 2px -1px 0 #2f3e9c, 3px 0 0 #2f3e9c, 4px 1px 0 #2f3e9c, 5px 2px 0px #2f3e9c, 6px 3px 0 #2f3e9c, 7px 4px 0 #2f3e9c, 10px 10px 4px rgba(255, 186, 74, 0.8);
  opacity: 0.8;
} */
.jumbotron h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-right: 20px;
  position: sticky;
  text-align: right;
  top: 50vh;
  font-size: 12vw;
  font-family: 'Nanum Gothic Coding', monospace;
  color: #52d9da;
  background-color: #ff7d4d;
  text-shadow: -1px -1px 0 #2f3e9c;
  z-index: 1;
  opacity: 0.8;
}

/* Animated Text Editor */
.cont {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: inherit;
  /* background: #fafafa; */
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
svg:not(:root) {
  overflow: inherit;
  overflow-x: inherit;
  overflow-y: inherit;
}
svg rect.black-box {
  margin: 70px;
}
svg text.text-wroc {
  font-family: 'Nanum Gothic Coding', monospace;
}
.svg-page-wroc {
  font-size: 3em;
}

svg {
  width: 100%;
}

.size {
  -moz-animation: animate-bg 0.5s ease-in forwards;
  -webkit-animation: animate-bg 0.5s ease-in forwards;
  animation: animate-bg 0.5s ease-in forwards;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.text-el {
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.text-wroc {
  font-size:1.5em;
  font-family: 'Crimson Pro';
}

.text-el:nth-child(1) {
  -moz-animation: animate-txt 0.25s 0.1s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.1s linear forwards;
  animation: animate-txt 0.25s 0.1s linear forwards;
}

.text-el:nth-child(2) {
  -moz-animation: animate-txt 0.25s 0.2s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.2s linear forwards;
  animation: animate-txt 0.25s 0.2s linear forwards;
}

.text-el:nth-child(3) {
  -moz-animation: animate-txt 0.25s 0.3s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.3s linear forwards;
  animation: animate-txt 0.25s 0.3s linear forwards;
}

.text-el:nth-child(4) {
  -moz-animation: animate-txt 0.25s 0.4s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.4s linear forwards;
  animation: animate-txt 0.25s 0.4s linear forwards;
}

.text-el:nth-child(5) {
  -moz-animation: animate-txt 0.25s 0.5s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.5s linear forwards;
  animation: animate-txt 0.25s 0.5s linear forwards;
}

.text-el:nth-child(6) {
  -moz-animation: animate-txt 0.25s 0.6s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.6s linear forwards;
  animation: animate-txt 0.25s 0.6s linear forwards;
}

.text-el:nth-child(7) {
  -moz-animation: animate-txt 0.25s 0.7s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.7s linear forwards;
  animation: animate-txt 0.25s 0.7s linear forwards;
}

.text-el:nth-child(8) {
  -moz-animation: animate-txt 0.25s 0.8s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.8s linear forwards;
  animation: animate-txt 0.25s 0.8s linear forwards;
}

.text-el:nth-child(9) {
  -moz-animation: animate-txt 0.25s 0.9s linear forwards;
  -webkit-animation: animate-txt 0.25s 0.9s linear forwards;
  animation: animate-txt 0.25s 0.9s linear forwards;
}

.text-el:nth-child(10) {
  -moz-animation: animate-txt 0.25s 1s linear forwards;
  -webkit-animation: animate-txt 0.25s 1s linear forwards;
  animation: animate-txt 0.25s 1s linear forwards;
}

.text-el:nth-child(11) {
  -moz-animation: animate-txt 0.25s 1.1s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.1s linear forwards;
  animation: animate-txt 0.25s 1.1s linear forwards;
}

.text-el:nth-child(12) {
  -moz-animation: animate-txt 0.25s 1.2s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.2s linear forwards;
  animation: animate-txt 0.25s 1.2s linear forwards;
}

.text-el:nth-child(13) {
  -moz-animation: animate-txt 0.25s 1.3s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.3s linear forwards;
  animation: animate-txt 0.25s 1.3s linear forwards;
}

.text-el:nth-child(14) {
  -moz-animation: animate-txt 0.25s 1.4s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.4s linear forwards;
  animation: animate-txt 0.25s 1.4s linear forwards;
}

.text-el:nth-child(15) {
  -moz-animation: animate-txt 0.25s 1.5s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.5s linear forwards;
  animation: animate-txt 0.25s 1.5s linear forwards;
}

.text-el:nth-child(16) {
  -moz-animation: animate-txt 0.25s 1.6s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.6s linear forwards;
  animation: animate-txt 0.25s 1.6s linear forwards;
}

.text-el:nth-child(17) {
  -moz-animation: animate-txt 0.25s 1.7s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.7s linear forwards;
  animation: animate-txt 0.25s 1.7s linear forwards;
}

.text-el:nth-child(18) {
  -moz-animation: animate-txt 0.25s 1.8s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.8s linear forwards;
  animation: animate-txt 0.25s 1.8s linear forwards;
}

.text-el:nth-child(19) {
  -moz-animation: animate-txt 0.25s 1.9s linear forwards;
  -webkit-animation: animate-txt 0.25s 1.9s linear forwards;
  animation: animate-txt 0.25s 1.9s linear forwards;
}

.text-el:nth-child(20) {
  -moz-animation: animate-txt 0.25s 2s linear forwards;
  -webkit-animation: animate-txt 0.25s 2s linear forwards;
  animation: animate-txt 0.25s 2s linear forwards;
}

.text-el:nth-child(21) {
  -moz-animation: animate-txt 0.25s 2.1s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.1s linear forwards;
  animation: animate-txt 0.25s 2.1s linear forwards;
}

.text-el:nth-child(22) {
  -moz-animation: animate-txt 0.25s 2.2s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.2s linear forwards;
  animation: animate-txt 0.25s 2.2s linear forwards;
}

.text-el:nth-child(23) {
  -moz-animation: animate-txt 0.25s 2.3s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.3s linear forwards;
  animation: animate-txt 0.25s 2.3s linear forwards;
}

.text-el:nth-child(24) {
  -moz-animation: animate-txt 0.25s 2.4s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.4s linear forwards;
  animation: animate-txt 0.25s 2.4s linear forwards;
}

.text-el:nth-child(25) {
  -moz-animation: animate-txt 0.25s 2.5s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.5s linear forwards;
  animation: animate-txt 0.25s 2.5s linear forwards;
}

.text-el:nth-child(26) {
  -moz-animation: animate-txt 0.25s 2.6s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.6s linear forwards;
  animation: animate-txt 0.25s 2.6s linear forwards;
}

.text-el:nth-child(27) {
  -moz-animation: animate-txt 0.25s 2.7s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.7s linear forwards;
  animation: animate-txt 0.25s 2.7s linear forwards;
}

.text-el:nth-child(28) {
  -moz-animation: animate-txt 0.25s 2.8s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.8s linear forwards;
  animation: animate-txt 0.25s 2.8s linear forwards;
}

.text-el:nth-child(29) {
  -moz-animation: animate-txt 0.25s 2.9s linear forwards;
  -webkit-animation: animate-txt 0.25s 2.9s linear forwards;
  animation: animate-txt 0.25s 2.9s linear forwards;
}

.text-el:nth-child(30) {
  -moz-animation: animate-txt 0.25s 3s linear forwards;
  -webkit-animation: animate-txt 0.25s 3s linear forwards;
  animation: animate-txt 0.25s 3s linear forwards;
}

.text-el:nth-child(31) {
  -moz-animation: animate-txt 0.25s 3.1s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.1s linear forwards;
  animation: animate-txt 0.25s 3.1s linear forwards;
}

.text-el:nth-child(32) {
  -moz-animation: animate-txt 0.25s 3.2s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.2s linear forwards;
  animation: animate-txt 0.25s 3.2s linear forwards;
}

.text-el:nth-child(33) {
  -moz-animation: animate-txt 0.25s 3.3s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.3s linear forwards;
  animation: animate-txt 0.25s 3.3s linear forwards;
}

.text-el:nth-child(34) {
  -moz-animation: animate-txt 0.25s 3.4s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.4s linear forwards;
  animation: animate-txt 0.25s 3.4s linear forwards;
}

.text-el:nth-child(35) {
  -moz-animation: animate-txt 0.25s 3.5s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.5s linear forwards;
  animation: animate-txt 0.25s 3.5s linear forwards;
}

.text-el:nth-child(36) {
  -moz-animation: animate-txt 0.25s 3.6s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.6s linear forwards;
  animation: animate-txt 0.25s 3.6s linear forwards;
}

.text-el:nth-child(37) {
  -moz-animation: animate-txt 0.25s 3.7s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.7s linear forwards;
  animation: animate-txt 0.25s 3.7s linear forwards;
}

.text-el:nth-child(38) {
  -moz-animation: animate-txt 0.25s 3.8s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.8s linear forwards;
  animation: animate-txt 0.25s 3.8s linear forwards;
}

.text-el:nth-child(39) {
  -moz-animation: animate-txt 0.25s 3.9s linear forwards;
  -webkit-animation: animate-txt 0.25s 3.9s linear forwards;
  animation: animate-txt 0.25s 3.9s linear forwards;
}

@-moz-keyframes animate-bg {
  0% {
    -moz-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes animate-bg {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes animate-bg {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes animate-txt {
  0% {
    -moz-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -moz-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-webkit-keyframes animate-txt {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes animate-txt {
  0% {
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-moz-keyframes animate-svg {
  100% {
    -moz-box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.5);
    /*@include transform(translate(50%, 50%)); */
  }
}
@-webkit-keyframes animate-svg {
  100% {
    -webkit-box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.5);
    /*@include transform(translate(50%, 50%)); */
  }
}
@keyframes animate-svg {
  100% {
    -moz-box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.5);
    /*@include transform(translate(50%, 50%)); */
  }
}
