
<!-- <style>
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
  }
  .vt-callToAction {
    position: relative;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    /* overflow: hidden; */
    width: 100%;
    padding-bottom: 10px;
    background: #8cd408;
    box-shadow: 2px 2px 30px #2e3436;
  }
  .vt-callToAction>.row {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .vt-callToAction .vt-callToAction-message.light {
    background: #fb1e6f;
    color: #fff;
  }
  .vt-callToAction .vt-callToAction-message {
    top: -3em;
    left: 0;
    z-index: 1;
    margin: 0;
  }
  .vt-callToAction .vt-callToAction-message {
    min-width: 50%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    position: relative;
    padding: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .vt-callToAction .vt-callToAction-message .vt-vtcontainer {
    width: 100%!important;
    position: relative;
    z-index: 2;
    overflow: hidden;
    align-self: center;
    padding: 1em;
  }
  .vt-callToAction .vt-callToAction-message-heading {
    position: relative;
    margin: 0;
    font-size: .95em;
    line-height: 1.5;
    font-family: gineso-condensed,sans-serif;
    padding: 7%;
  }
  /* .vt-callToAction .vt-callToAction-message-heading {
    padding: 25% 25% 10% 15%;
  } */
  .vt-callToAction.vt-callToAction-textLeft .vt-callToAction-supplement {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .vt-callToAction .vt-callToAction-supplement {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding: 0;
    position: relative;
    z-index: 2;
  }
  .vt-callToAction .vt-callToAction-supplement-fig-container {
    display: block;
  }
  .vt-callToAction .vt-callToAction-supplement-fig-container {
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    background: #e5e1e6;
    z-index: 2;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: none;
  }
  .vt-callToAction.image-left .vt-callToAction-supplement-fig {
    background-position: 25%;
  }
  .vt-callToAction .vt-callToAction-supplement-fig {
    display: block;
  }
  .vt-callToAction .vt-callToAction-supplement-fig {
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    opacity: 0;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .vt-image img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    border-style: none;
  }
  .vt-home .vt-home-featuredComponent {
    display: block;
    position: relative;
    width: 100%;
    font-size: 2em;
    line-height: 1.6;
  }
  .vt-utProsim {
    margin-top: -4em;
  }
  .vtcontainer .vt-full-width::before {
    content: " ";
    clear: both;
    display: table;
  }
</style> -->

<!-- <div class="vt-callToAction image-left vt-callToAction-textLeft">
  <div class="row">
    <div class="col-12 col-lg-6 vt-callToAction-message light">
      <div class="vt-vtcontainer">
        <div class="vt-callToAction-message-heading">
          <div class="text-uppercase font-italic">
            <h2 class="vt-callToAction-primary">Giving Day brings Hokies together</h2>
          </div>
          <div class="vtctalink">
            <span class="d-flex justify-content-start">
              <a class="vt-ctaLink  maroon    gineso  btn-shadow  uppercase     " href="https://vtx.vt.edu/articles/2022/02/giving-day-2022.html">Read the story</a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 vt-callToAction-supplement">
      <div class="vt-callToAction-supplement-fig-container" aria-hidden="true">
        <div class="vt-callToAction-supplement-fig" style="background-color: rgb(229, 225, 230);background-image: url(&quot;/uploads/giving-day-2022.jpeg&quot;);opacity: 1;"></div>
      </div>
      <div class="vt-image vt_img vt_large_img caption ">
        <figure>
          <picture>
            <img src="/uploads/giving-day-2022.jpeg" alt="Virginia Tech students on campus." title="Giving Day" data-emptytext="Image">
          </picture>
        </figure>
      </div>
    </div>
</div>
</div> -->
<!-- 
<style>
  .feature__img {
    width: 100%;
    display: block;
  }

  .feature {
    background-color: #3B1347;
    color: white;
  }
  @media (min-width: 950px) {
    .feature {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 2rem;
    }
  }

  @media (min-width: 950px) {
    .image img {
      -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
              clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
    }
  }

  .text {
    place-self: center;
    padding: 1.5rem;
  }
  @media (min-width: 950px) {
    .text {
      padding: 0 1rem 0 0;
      margin-left: -3vw;
    }
  }
  @media (min-width: 1300px) {
    .text {
      padding: 0 3rem 0 0;
    }
  }
  .text h1 {
    margin-top: 0;
  }
  @media (min-width: 950px) {
    .text h1 {
      font-size: 1.5rem;
    }
  }
  @media (min-width: 1250px) {
    .text h1 {
      font-size: 2.5rem;
    }
  }
  @media (min-width: 2000px) {
    .text h1 {
      font-size: 2.5vw;
    }
  }
  .text p {
    line-height: 1.25;
  }
  @media (min-width: 1500px) {
    .text p {
      line-height: 1.5;
      font-size: 1.2rem;
    }
  }
  @media (min-width: 2000px) {
    .text p {
      font-size: 1.2vw;
    }
  }

  .button button {
    background-color: #289469;
    border: 0;
    padding: 1rem 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    margin: 1rem 0 0;
    transition: background-color 200ms ease;
  }
  .button button:hover {
    cursor: pointer;
    background-color: rgba(40, 148, 105, 0.8);
  }
  @media (min-width: 2000px) {
    .button button {
      font-size: 1.2vw;
    }
  }
</style>
<section class="feature">
  <div class="feature__img image"><img src="https://source.unsplash.com/1600x900/?mountain"/></div>
  <div class="text">
    <h2>Lorem ipsum dolor sit amet consectetur</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae deleniti sunt, corporis, voluptate, nemo dignissimos animi vitae eius aut maxime ratione tempore beatae ad qui? Voluptatem mollitia odio non assumenda?</p>
    <div class="button">
      <button>Click Me</button>
    </div>
  </div>
</section> -->

<div class="feature_box_container bg-off-white">
  <div class="pv6 center">
      
    <div class="feature_box flex items-center  justify-evenly flex__gap_2 mhn2-ns mb3">
      <div class="ph2-ns w-50-ns">
        <img src="{{.image}}" 
             class="feature_box_img center db mb3"
             alt="{{.alttext}}"
        />
      </div>
      <div class="ph2-ns w-50-ns">
        <h2 class="f2 b lh-title mb2">
          {{ .heading }}
        </h2>
        <p>{{.featurecopy}}</p>
      </div>
      
    </div>

  </div>
</div>
