{{ define "main" }}

{{ partial "jumbotron" (dict "title" "Meta") }}

<div class="mw7 center ph4 pv4">
  <h2 class="meta-h2">{{ .Page.LinkTitle }}</h2>

  {{ range first 1 (where .Pages "Params.pubtype" "journal") }}
  <h3 class="f3 b lh-title mb1">Articles</h3>
  <ul class="flex-ns flex-wrap mhn1-ns pa3 cite">
    <li>
        {{ .Params.authors }}. ({{ .Params.year }}). {{ .Params.title }}. <em>{{ .Params.journal }}</em>, {{ .Params.volume }}({{ .Params.issue }}){{ if .Params.pages }}, pp. {{ .Params.pages }}{{end}}. <a href="{{ .Params.doi }}">{{ .Params.doi }}</a>
        {{ if .Params.tags }}
          <p class="bib-tags">tags:
            {{ range (.GetTerms "tags") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
        {{ if .Params.fields }}
          <p class="bib-tags">fields:
            {{ range (.GetTerms "fields") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
    </li>
    {{ end }}
    {{ range after 1 (where .Pages "Params.pubtype" "journal") }}
    <li>
        {{ .Params.authors }}. ({{ .Params.year }}). {{ .Params.title }}. <em>{{ .Params.journal }}</em>, {{ .Params.volume }}({{ .Params.issue }}){{ if .Params.pages }}, pp. {{ .Params.pages }}{{end}}. <a href="{{ .Params.doi }}">{{ .Params.doi }}</a>
        {{ if .Params.tags }}
          <p class="bib-tags">tags:
            {{ range (.GetTerms "tags") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
        {{ if .Params.fields }}
          <p class="bib-tags">fields:
            {{ range (.GetTerms "fields") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
    </li>
    {{ end }}
  </ul>

  {{ range first 1 (where .Pages "Params.pubtype" "book") }}
  <h3 class="f3 b lh-title mb1">Books</h3>
  <ul class="flex-ns flex-wrap mhn1-ns pa3 cite">
    <li>
        {{ .Params.authors }}. ({{ .Params.year }}). <em>{{ .Params.title }}</em>. {{ .Params.publisher }}. {{ if .Params.doi }}<a href="{{ .Params.doi }}">{{ .Params.doi }}</a>{{ end }} {{ if .Params.url }}<a href="{{ .Params.url }}">{{ .Params.url }}</a>{{ end }}
        {{ if .Params.tags }}
          <p class="bib-tags">tags:
            {{ range (.GetTerms "tags") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
        {{ if .Params.fields }}
          <p class="bib-tags">fields:
            {{ range (.GetTerms "fields") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
    </li>
    {{ end }}
    {{ range after 1 (where .Pages "Params.pubtype" "book") }}
    <li>
        {{ .Params.authors }}. ({{ .Params.year }}). <em>{{ .Params.title }}</em>. {{ .Params.publisher }}. {{ if .Params.doi }}<a href="{{ .Params.doi }}">{{ .Params.doi }}</a>{{ end }} {{ if .Params.url }}<a href="{{ .Params.url }}">{{ .Params.url }}</a>{{ end }}
        {{ if .Params.tags }}
          <p class="bib-tags">tags:
            {{ range (.GetTerms "tags") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
        {{ if .Params.fields }}
          <p class="bib-tags">fields:
            {{ range (.GetTerms "fields") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
    </li>
    {{ end }}
  </ul>

  {{ range first 1 (where .Pages "Params.pubtype" "edited collection") }}
  <h3 class="f3 b lh-title mb1">Edited Collections</h3>
  <ul class="flex-ns flex-wrap mhn1-ns pa3 cite">
    <li>
        {{ .Params.editors }}, (Eds.). ({{ .Params.year }}). <em>{{ .Params.title }}</em>. {{ .Params.publisher }}. {{ if .Params.doi }}<a href="{{ .Params.doi }}">{{ .Params.doi }}</a>{{ end }} {{ if .Params.url }}<a href="{{ .Params.url }}">{{ .Params.url }}</a>{{ end }}
        {{ if .Params.tags }}
          <p class="bib-tags">tags:
            {{ range (.GetTerms "tags") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
        {{ if .Params.fields }}
          <p class="bib-tags">fields:
            {{ range (.GetTerms "fields") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
    </li>
    {{ end }}
    {{ range after 1 (where .Pages "Params.pubtype" "book") }}
    <li>
        {{ .Params.editors }}, (Eds.). ({{ .Params.year }}). <em>{{ .Params.title }}</em>. {{ .Params.publisher }}. {{ if .Params.doi }}<a href="{{ .Params.doi }}">{{ .Params.doi }}</a>{{ end }} {{ if .Params.url }}<a href="{{ .Params.url }}">{{ .Params.url }}</a>{{ end }}
        {{ if .Params.tags }}
          <p class="bib-tags">tags:
            {{ range (.GetTerms "tags") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
        {{ if .Params.fields }}
          <p class="bib-tags">fields:
            {{ range (.GetTerms "fields") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
    </li>
    {{ end }}
  </ul>

  {{ range first 1 (where .Pages "Params.pubtype" "chapter") }}
  <h3 class="f3 b lh-title mb1">Chapters</h3>
  <ul class="flex-ns flex-wrap mhn1-ns pa3 cite">
    <li>
        {{ .Params.authors }}. ({{ .Params.year }}). {{ .Params.title }}. In {{ .Params.editors }}, (Ed), <em>{{ .Params.booktitle }}</em>{{ if .Params.pages }}, (pp. {{ .Params.pages }}){{ end }}. {{ .Params.publisher }}. {{ if .Params.doi }}<a href="{{ .Params.doi }}">{{ .Params.doi }}</a>{{ end }} {{ if .Params.url }}<a href="{{ .Params.url }}">{{ .Params.url }}</a>{{ end }}
        {{ if .Params.tags }}
          <p class="bib-tags">tags:
            {{ range (.GetTerms "tags") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
        {{ if .Params.fields }}
          <p class="bib-tags">fields:
            {{ range (.GetTerms "fields") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
    </li>
    {{ end }}
    {{ range after 1 (where .Pages "Params.pubtype" "chapter") }}
    <li>
        {{ .Params.authors }}. ({{ .Params.year }}). {{ .Params.title }}. In {{ .Params.editors }}, (Ed), <em>{{ .Params.booktitle }}</em>{{ if .Params.pages }}, (pp. {{ .Params.pages }}){{ end }}. {{ .Params.publisher }}. {{ if .Params.doi }}<a href="{{ .Params.doi }}">{{ .Params.doi }}</a>{{ end }} {{ if .Params.url }}<a href="{{ .Params.url }}">{{ .Params.url }}</a>{{ end }}
        {{ if .Params.tags }}
          <p class="bib-tags">tags:
            {{ range (.GetTerms "tags") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
        {{ if .Params.fields }}
          <p class="bib-tags">fields:
            {{ range (.GetTerms "fields") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
    </li>
    {{ end }}
  </ul>

  {{ range first 1 (where .Pages "Params.projtype" "method") }}
  <h3 class="f3 b lh-title mb1">Method</h3>
  <ul class="mhn1-ns pa3 card_container--wroc-project">
    <li class="card--wroc-project">
      <div class="img">
        <img src="{{ .Params.image }}" alt="" />
      </div>
      <h3><a href="{{ .Params.url }}">{{ .Params.title }}</a></h3>
      <p><strong>Contributors</strong>: {{ .Params.contributors }}</p>
      <p><strong>Description</strong>: {{ .Params.description }}</p>
        {{ if .Params.tags }}
          <p class="proj-tags"><strong>tags</strong>:
            {{ range (.GetTerms "tags") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
        {{ if .Params.fields }}
          <p class="proj-tags"><strong>fields</strong>:
            {{ range (.GetTerms "fields") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
    </li>
    {{ end }}
    {{ range after 1 (where .Pages "Params.projtype" "method") }}
    <li class="card--wroc-project">
      <div class="img">
        <img src="{{ .Params.image }}" alt="" />
      </div>
      <h3><a href="{{ .Params.url }}">{{ .Params.title }}</a></h3>
      <p><strong>Contributors</strong>: {{ .Params.contributors }}</p>
      <p><strong>Description</strong>: {{ .Params.description }}</p>
        {{ if .Params.tags }}
          <p class="proj-tags"><strong>tags</strong>:
            {{ range (.GetTerms "tags") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
        {{ if .Params.fields }}
          <p class="proj-tags"><strong>fields</strong>:
            {{ range (.GetTerms "fields") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
    </li>
  </ul>
  {{ end }}

  {{ range first 1 (where .Pages "Params.projtype" "archive") }}
  <h3 class="f3 b lh-title mb1">Archive</h3>
  <ul class="mhn1-ns pa3 card_container--wroc-project">
    <li class="card--wroc-project">
      <div class="img">
        <img src="{{ .Params.image }}" alt="" />
      </div>
      <h3><a href="{{ .Params.url }}">{{ .Params.title }}</a></h3>
      <p><strong>Contributors</strong>: {{ .Params.contributors }}</p>
      <p><strong>Description</strong>: {{ .Params.description }}</p>
        {{ if .Params.tags }}
          <p class="proj-tags"><strong>tags</strong>:
            {{ range (.GetTerms "tags") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
        {{ if .Params.fields }}
          <p class="proj-tags"><strong>fields</strong>:
            {{ range (.GetTerms "fields") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
    </li>
    {{ end }}
    {{ range after 1 (where .Pages "Params.projtype" "archive") }}
    <li class="card--wroc-project">
      <div class="img">
        <img src="{{ .Params.image }}" alt="" />
      </div>
      <h3><a href="{{ .Params.url }}">{{ .Params.title }}</a></h3>
      <p><strong>Contributors</strong>: {{ .Params.contributors }}</p>
      <p><strong>Description</strong>: {{ .Params.description }}</p>
        {{ if .Params.tags }}
          <p class="proj-tags"><strong>tags</strong>:
            {{ range (.GetTerms "tags") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
        {{ if .Params.fields }}
          <p class="proj-tags"><strong>fields</strong>:
            {{ range (.GetTerms "fields") }}
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        {{ end }}
    </li>
  </ul>
  {{ end }}

</div>

{{end}}
