.content {
  padding-bottom: 1rem;
}

.main__content_area {
  max-width: 800px;
  margin: auto;
  padding: 2em;
}

h1.logo-text {
  text-transform: uppercase;
  color: #fe4300;
  letter-spacing: .062rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 2rem 0 1rem;
}

@include media-breakpoint-up(md) {
  body {
    font-size: $font-size-md;
  }

  .content {
    padding-bottom: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-bottom: 1.125rem;
  }
}

// MAIN CONTENT
.main__content {
  margin: 0 1em;
}

@include media-breakpoint-up(lg) {
  .content {
    padding-bottom: 3rem;
  }
  .main__content {
    max-width: 925px;
    padding: 1rem;
    margin: auto;
  }
}

.section {
  background: $gray-200;
  padding-bottom: 5rem;
}

.section p,
.section a {
  margin: 0;
  text-align: left;
}

.section svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}

.monospace {
  font-family: $font-family-code;
}
